# Template konfigurasi database SIM-TH
# Cara pakai: Copy file ini, ubah namanya menjadi .env, dan ganti nilai di dalam kurung siku (lokasi file tetap di folder yang sama)

# Konfigurasi untuk Docker/Podman Compose
DB_USER=admin_sim_th
DB_PASSWORD=[MASUKKAN_PASSWORD_DB_DISINI]
DB_NAME=db_sim_th

# Konfigurasi untuk backend Rust (SeaORM)
# Ganti [MASUKKAN_PASSWORD_DB_DISINI] dengan password yang sama seperti di atas
DATABASE_URL=postgres://admin_sim_th:[MASUKKAN_PASSWORD_DB_DISINI]@localhost:5433/db_sim_th

# Kunci rahasia untuk KTP Digital
JWT_SECRET=[MASUKKAN_KUNCI_DISINI]